<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}InkVerse{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('home') }}">InkVerse</a>

        {% if current_user %}
            <span>Hello, {{ current_user.username }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>